<html>
  <head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
            </a>
            
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              
      <main>
        <h1>Welcom to 
         <i class="fa-solid fa-book"></i>
         <strong>Bookers!!</strong>
         </h1>
         <p>in
         <i class="fa-solid fa-book"></i>
         <strong>Bookers</strong>
          ,</p>
         
    
  </body>
</html>