<head>
  
   <script src="https://kit.fontawesome.com/efdedf3b04.js" crossorigin="anonymous"></script>
  </h1>
</head>

<main>
  <h1>Welcom to 
   <i class="fa-solid fa-book"></i>
   <strong>Bookers!!</strong>
  </h1>
  <p>
    in
    <i class="fa-solid fa-book"></i>
    <strong>Bookers</strong>
    ,
  </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p> about various books!</p>
</main>



<footer>
  <p>CopyRight Infratop.inc</p>
</footer>
